<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.mybatis.dao.EmployeeMapper">
    <!--
    namespace:名称空间;
    id：唯一标识
    resultType：返回值类型
    #{id}：从传递过来的参数中取出id值

    public Employee getEmpById(Integer id);
     -->
    <select id="getEmpsByLastNameLike" resultType="com.joe.mybatis.bean.Employee">
        select * from tbl_employee where last_name like #{lastName}
    </select>
    
    <select id="getAllEmps" resultType="com.joe.mybatis.bean.Employee">
        select * from tbl_employee
    </select>

    <select id="getEmpById" resultType="com.joe.mybatis.bean.Employee">
		select id,last_name lastName,email,gender from tbl_employee where id = #{id}
	</select>

    <select id="getEmpByIdAndLastName" resultType="com.joe.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id} and last_name = #{lastName}
    </select>

    <select id="getEmpByMap" resultType="com.joe.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id} and last_name = #{lastName}
    </select>

    <insert id="addEmp" parameterType="com.joe.mybatis.bean.Employee">
        insert into tbl_employee(last_name, email, gender)
        values(#{lastName},#{email},#{gender})
    </insert>

    <update id="updateEmp" parameterType="com.joe.mybatis.bean.Employee">
		update tbl_employee
		set last_name=#{lastName},email=#{email},gender=#{gender}
		where id=#{id}
	</update>

    <delete id="deleteEmpById" parameterType="com.joe.mybatis.bean.Employee">
        delete from tbl_employee where id = #{id}
    </delete>

</mapper>